html, body {
  background-color: #FFFFFF;
  margin: 0px auto;
  font-family: sans-serif;
}

.menu {
  background-color: #111111;
  margin: 20px auto;
  font-family: "Arial Rounded MT Bold";
  text-align: center;
  color: #EEEEEE;
  width: 98%;
  height: 400px;
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  border-color: #111111;
  border-radius: 10px;
}

.menu a {
  color: white;
  text-decoration: none;
  line-height: 450px;
  font-size: 3rem;
}

canvas {
  /*background-color: #00000F;*/
  display: block;
  margin: 20px auto;
  margin: 10px auto;
  border-style: solid;
  border-width: 0px;
  border-color: #DDDDDD;
  border-radius: 10px;
}

.sideBar {
  position: fixed;
  float: left;
  text-align: left;
  margin: 10px;
  background-color: #111111;
  color: #EEEEEE;
  border-style: solid;
  border-width: 2px;
  border-color: #111111;
  width: 150px;
  height: 400px;
}

.sideBar p {
  color: #EEEEEE;
  font-family: Arial Black;
  margin-left: 4px;
}

#console {
  color: #888888;
  background-color: #FFFFFF;
  margin: 0px auto;
  text-align: center;
  font-weight: bold;
  width: 400px;
  height: 20px;
  border-radius: 8px;
  font-family: sans-serif;
}

.help {
  color: #44CCFF;
  background-color: #11111F;
  margin: 30px auto;
  text-align: center;
  width: 98%;
  height: 80px;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  border-color: #11111F;
  font-size: 12px;
  line-height: 1;
}

div {}

.grid {}

.hero {}

.brick {}

.text {
  color: #EEEEEE;
  font-size: 1rem;
}

.text-centered {
  text-align: center;
}

input {
  margin: 20px auto;
  display: inline-block;
  font-family: monospace;
  font-weight: bold;
  background: #111111;
  color: white;
}

.preInput {
  position: relative;
  margin-left: 1px;
  float: left;
  background: white;
  width: 20px;
  color: white;
}

.terminal {
  position: fixed;
  width: 300px;
  height: 520px;
  left: 20px;
  margin: 10px auto;
  font-family: sans-serif;
  float: left;
  /*border-style: solid;
  border-color: #DDDDDD;
  border-width: 2px;
  border-radius: 10px;*/
  background: #FFFFFF;
  color: white;
  padding: 10px;
  overflow: auto;
}

.terminalInput {
  /*position: relative;*/
  /*float: left;*/
  width: 290px;
  height: 20px;
  margin-left: 10px;
  margin-top: -20px;
  margin-bottom: 10px;
  background-color: transparent;
  border-style: none;
  font-size: 12px;
  color: #222222;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

textArea {
  position: fixed;
  width: 200px;
  height: 550px;
  left: 20px;
  margin: 10px;
  margin-top: 5px;
  display: block;
  float: left;
  background: #000000;
  color: #00AA00;
  border-style: solid;
  border-width: 2px;
  border-color: #222222;
  opacity: 0.9;
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}

#playerDataHolder {
  color: #888888;
  /*background-color: #111111;*/
  text-align: center;
  width: 200px;
  height: 100px;
  float: right;
  font-weight: bold;
  right: 100px;
  bottom: 440px;
  position: fixed;
  text-align: left;
  font-family: sans-serif;
}

input {
  /*margin-left: 10px;*/
}

text {
  position: relative;
  right: -400px;
  background: black;
  color: green;
  float: right;
}

button {
  float: right;
  right: 240px;
  bottom: 460px;
  position: fixed;
}

#preloader {

  font-family: sans-serif;
  color: "#999999";
  text-align: center;
  margin: 0px auto;
  margin-top: 20%;
  font-size: 16px;
  font-weight: bold;
  display: none;
}
